{% extends "account/base.html" %} {% load i18n %} {% load account socialaccount
%} {% block head_title %}{% trans "Sign In" %}{% endblock %} 
{% block content %}

<style>
  * {
    background-color: #acc8e5;
    color: #112a46;
  }
  button {
    padding: 10px;
    border: none;
    background-color: #5190d3;
    border-radius: 10px;
    cursor: pointer;
  }
</style>
<center>
  <h1>{% trans "Sign In" %}</h1>



  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"
    />
    {% endif %}
    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
  </form>

  {% endblock %}
</center>
