* {
  margin: 0%;
  padding: 0%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header {
  text-align: center;
  display: flex;
  max-width: 300px;
  flex-direction: row;
  position: fixed;
  top: 0%;
  gap: 10px;
}
.container {
  margin-top: 40px;
}
.table {
  display: grid;
  grid-template-columns: 80px 80px;
  gap: 20px;
}
