* {
  margin: 0%;
  padding: 0%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #acc8e5;
  color: #112a46;
}
header {
  width: 100%;
  top: 0%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.icon {
  width: 30px;
  height: 30px;
}
.container {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.table {
  display: grid;
  grid-template-columns: 50px 80px 80px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
input {
  border: 1px black solid;
  width: 40px;
  height: 30px;
  padding: 2px;
  border-radius: 10px;
}
footer {
  width: 100%;
  bottom: 0%;
  margin-bottom: 30px;
  padding-top: 10px;
  border-top: solid 1px black;
}
