<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Dhobi</title>
    <style>
d2{
    height: 200px;
    position: relative;
}

    </style>
</head>
<body>
    <div style="margin-top: 50% -50%;">
        <div ><h1 style="text-align:center;">Digital Dhobi</h1></div>
        <div class="d2">
            <center><div class="d3"><button>LOG IN</button></div></center>
            
        </div>
    </div>
   
</body>
</html>