<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Dhobi</title>
</head>
<body>
<style>
body{
        background-color: #acc8e5;
        color: #112a46;
}
button{
       background-color: #5190d3;
       border: none;
       padding: 10px;
       border-radius: 20px;
       box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24);
       cursor:pointer;
}
button :active{
    transform: scale(0.1);
}
</style>
<h1 style="text-align: center">Digital Dhobi</h1>
      <center>
        <a href="/orders"><button>Order Overview</button></a>
        <a href="/new_order"><button>New Order</button>
    </center>
</body>
</html>
