<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="orders.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <title>Digital Dhobi</title>
    <style>
      table,
      th,
      td {
        font-family: "Courier New", Courier, monospace;
        border-collapse: collapse;
        padding: 2.5rem;
        border: 1px solid black;
      }
      td {
        text-align: center;
      }
      table {
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    <div></div>
    <div>
      <h1 style="text-align: center; font-weight: bold">Order Overview</h1>
    </div>
    <table class="table">
      <tr>
        <th>Order Id</th>
        <th>Enroll. no.</th>
        <th>Name</th>
        <th>Date</th>
        <th>Total no. of clothes</th>
      </tr>
      {% for i in orders %}
      <tr>
        <td><a href="/order_detail/{{i.id}}/">{{i.id}}</a></td>
        <td><a href="/order_detail/{{i.id}}/">{{i.enroll_no}}</a></td>
        <td><a href="/order_detail/{{i.id}}/">{{i.name}}</a></td>
        <td><a href="/order_detail/{{i.id}}/">{{i.date}}</a></td>
        <td><a href="/order_detail/{{i.id}}/">{{i.total_clothes}}</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
