<<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> Order Details </h1>
        <p>Order ID: {{order.id}}</p>
        <p>Enroll Number: {{order.enroll_no}}</p>
        <p>Name: {{order.name}}</p>
        <p>Date: {{order.date}}</p>
        <p>Total clothes: {{order.total_clothes}}</p>
            <p>Kurta:{{order.kurta}}</p>
            <p>Pyjama: {{order.pyjama}}</p>
            <p>Shirt: {{order.shirt}}</p>
            <p>Tshirt: {{order.tshirt}}</p>
            <p>Pant: {{order.pant}}</p>
            <p>Lower: {{order.lower}}</p>
            <p>Shorts: {{order.shorts}}</p>
            <p>Bedsheet: {{order.bedsheet}}</p>
            <p>Pillow Cover: {{order.pillowcover}}</p>
            <p>Towel: {{order.towel}}</p>
            <p>Dupatta: {{order.dupatta}}</p>
    </body>
</html>