<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="order_detail.css" />
  </head>
  <body>
    <style>
      * {
        background-color: #acc8e5;
        color: #112a46;
      }
      .bld {
        font-weight: bold;
      }
      button {
        padding: 10px;
        border: none;
        background-color: #5190d3;
        border-radius: 10px;
        box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
        cursor: pointer;
        outline: none;
        transition: 0.9s all;
      }
      button:active {
        transform: scale(0.1);
      }
    </style>
    <center>
      <h1>Order Details</h1>
      <p><span class="bld">Order ID</span> : {{order.id}}</p>
      <p><span class="bld">Enroll Number </span>: {{order.enroll_no}}</p>
      <p><span class="bld">Name </span>: {{order.name}}</p>
      <p><span class="bld">Date </span>: {{order.date}}</p>
      <p><span class="bld">Total clothes</span>: {{order.total_clothes}}</p>
      <p><span class="bld">Kurta</span>:{{order.kurta}}</p>
      <p><span class="bld">Pyjama</span>: {{order.pyjama}}</p>
      <p><span class="bld">Shirt</span>: {{order.shirt}}</p>
      <p><span class="bld">Tshirt</span>: {{order.tshirt}}</p>
      <p><span class="bld">Pant</span>: {{order.pant}}</p>
      <p><span class="bld">Lower</span>: {{order.lower}}</p>
      <p><span class="bld">Shorts</span>: {{order.shorts}}</p>
      <p><span class="bld">Bedsheet</span>: {{order.bedsheet}}</p>
      <p><span class="bld">Pillow Cover</span>: {{order.pillowcover}}</p>
      <p><span class="bld">Towel</span>: {{order.towel}}</p>
      <p><span class="bld">Dupatta</span>: {{order.dupatta}}</p>
      <a href="/completed/{{order.id}}/"
        ><button class="btn">Mark as Complete</button></a
      >
	<a href="/orders">
		<button>
			Back to Orders Overview
		</button>
	</a>
		<br><br>
	<a href="/">
		<button>
			Back to Home
		</button>
	</a>
    </center>
  </body>
</html>
